<header class="bg-dark" style="background-color: rgba(0, 0, 0, 0.2) !important;">
  <!-- * STEP 6.7 - AUTHENTICATION - aggiunta una sezione nell'header per accedere al login o al logout -->
  <div class="d-flex justify-content-end align-items-center w-100 p-2 px-3 pb-0">
    <h6 sec:authorize="hasAnyAuthority('USER', 'ADMIN')">
      <span class="text-white">Hi </span>
      <span class="" sec:authentication="name"></span><span class="text-white">! - </span>
      <a href="/logout" class="link-light link-offset-2 link-underline-opacity-75 link-underline-opacity-100-hover">Logout</a>
    </h6>
    <h6 sec:authorize="!hasAnyAuthority('USER', 'ADMIN')">
      <a href="/login" class="link-light link-offset-2 link-underline-opacity-75 link-underline-opacity-100-hover">Login</a> 
    </h6>
  </div>
  <nav class="nav-index d-flex align-items-center d-flex justify-content-around w-100 px-1">
    <div class="h-100 d-flex align-items-center justify-content-center"><a href="/"><h3 class="mt-1">Pizzeria Italia</h3></a></div>
    <div class="d-flex align-items-center">
      <form class="m-0 d-flex justify-content-center align-items-center" method="get" action="/pizzas">
        <span class="text-white me-xl-3">Find your Pizza!🍕</span>
        <input  name="pizzaName"  class="search-bar form-control rounded d-flex align-items-center justify-content-center me-2 ps-2" placeholder="Es. Margherita">
        <button  type="submit"  value="SEARCH"  class="btn-nav btn btn-primary d-flex align-items-center justify-content-center">Search</button>
      </form>
      </div>
    </nav>
</header>