<div th:fragment="links" class="all-links d-flex justify-content-center mt-3">
  <!-- soluzione 1 -->
  <a class="link-light link-offset-2 link-underline-opacity-75 link-underline-opacity-100-hover text-white me-3" href="/">Home</a>
  <!-- soluzione 2 -->
  <!-- <a class="text-white me-3" th:href="@{/}">Home</a> -->

  <a class="link-light link-offset-2 link-underline-opacity-75 link-underline-opacity-100-hover text-white me-3" href="/pizzas">Menu</a>
  <a sec:authorize="hasAnyAuthority('ADMIN')"  class="link-light link-offset-2 link-underline-opacity-75 link-underline-opacity-100-hover text-white me-3" href="/ingredients">Ingredients</a>
  <a class="link-light link-offset-2 link-underline-opacity-75 link-underline-opacity-100-hover text-white " href="/credits">Credits</a>
</div>