<!-- head -->
<th:block th:replace="~{/frags/head :: head}"></th:block>

<body class="d-flex flex-column justify-content-between">

	<!-- header -->
	<th:block th:replace="~{/frags/header :: header}"></th:block>

	<main class="py-5 d-flex flex-column justify-content-center align-items-center">

		<h1 class="mb-4">Pizza Menu</h1>

		<h2 th:if="${pizzas.size() == 0}">
			No pizza found...
		</h2>

		<!-- <ul>
			<li class="mb-2" th:each="pizza : ${pizzas}" th:object="${pizza}">
				<a class="text-white" th:href="@{/pizzas/{id}(id=*{id})}">
					[[*{name}]] - [[*{price}]]
				</a>
			</li>
		</ul> -->

		<div class="container">
			<div class="row justify-content-center align-items-center">
				<div class="col-xl-8 mb-3 mb-lg-5">
					<div class="card">
						<ul class="list-group">
							<!--List-item-->
							<!--/* <li th:each="pizza : ${pizzas}" th:object="${pizza}" class="list-group-item pt-0"> */-->
							<li th:each="pizza : ${pizzas}" th:object="${pizza}" class="p-2 border-bottom">
								<!--/* <a th:href="@{/pizzas/{id}(id=*{id})}" class="def-link"> */-->
								<a th:href="@{/pizzas/{id}(id=*{id})}" class="def-link d-flex align-items-center">
									<div class="w-100 d-flex justify-content-between align-items-center">
										<div class="d-flex align-items-center">
											<img th:if="${#strings.startsWith(pizza.photo, 'https://') or #strings.startsWith(pizza.photo, 'http://')}" alt="" th:src="${pizza.photo}" th:alt="${pizza.photo}"
												class="img-item-index-page rounded-circle me-3 " />
											<img th:if="${not #strings.startsWith(pizza.photo, 'https://') and not #strings.startsWith(pizza.photo, 'http://')}" alt="" th:src="@{/img/__${pizza.photo}__}" th:alt="${pizza.photo}"
												class="img-item-index-page rounded-circle me-3 " />
											<h6 class="m-0">[[*{name}]]</h6>
										</div>
										<div class="d-flex align-items-center">
											<span class="text-black me-3">€ [[*{formattedPrice}]]</span>
											<a th:href="@{/pizzas/{id}(id=*{id})}"
												class="btn-nav btn btn-primary fw-custom text-white def-link d-flex align-items-center justify-content-center me-2">Details</a>
											<a sec:authorize="hasAnyAuthority('ADMIN')" th:href="@{/pizzas/update/{id}(id=*{id})}"
												class="btn-nav btn btn-warning fw-custom text-white def-link d-flex align-items-center justify-content-center me-2">Edit</a>												
											<!-- * DELETE - (ULTIMO) STEP 3 - creare il form per l'eliminazione -->
											<form sec:authorize="hasAnyAuthority('ADMIN')" th:action="@{/pizzas/delete/{id}(id=*{id})}" method="POST" class="d-inline m-0" onsubmit="return confirm('Confirm deletion of this pizza?')">
												<!-- * aggiungere DELETE come value -->
												<button type="submit" value="DELETE" class="btn-nav btn btn-danger fw-custom d-flex align-items-center justify-content-center me-2" title="delete-btn">Delete</button>
												<!-- <button type="submit" value="DELETE" class="btn-nav btn btn-danger fw-custom d-flex align-items-center justify-content-center" title="delete-btn"><i class="fa-solid fa-trash"></i></button> -->
											</form>
											<a sec:authorize="hasAnyAuthority('ADMIN')"  th:href="@{/pizzas/special-offer/{id}(id=*{id})}"
												class="btn-nav btn btn-warning fw-custom text-white def-link d-flex align-items-center justify-content-center">Add Offer</a>												
										</div>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="mt-3 d-flex align-items-center justify-content-center">
				<a sec:authorize="hasAnyAuthority('ADMIN')" href="/pizza-create" class="btn btn-primary d-flex align-items-center justify-content-center">Add a new pizza</a>
			</div>

	</main>

	<!-- link di tutte le pagine -->
	<!-- soluzione 1 -->
	<!-- <th:block th:replace="../templates/frags/links :: links"></th:block> -->
	<!-- soluzione 2 -->
	<!-- <th:block th:replace="~{../templates/frags/links :: links}"></th:block> -->
	<!-- soluzione 3 -->
	<th:block th:replace="~{frags/links :: links}"></th:block>

	<!-- footer -->
	<th:block th:replace="~{/frags/footer :: footer}"></th:block>

</body>

</html>