<!-- head -->
<th:block th:replace="~{/frags/head :: head}"></th:block>

<body th:object="${pizza}" class="d-flex flex-column justify-content-between">

	<!-- header -->
	<th:block th:replace="~{/frags/header :: header}"></th:block>

	<main class="py-5 d-flex flex-column justify-content-center align-items-center text-center mx-2">
		<div class="d-flex align-items-center">
			<h2 class="mb-2 me-2">[[*{name}]]</h2> 
			<a sec:authorize="hasAnyAuthority('ADMIN')" th:href="@{/pizzas/update/{id}(id=*{id})}" class="btn-nav btn btn-warning fw-custom text-white def-link d-flex align-items-center justify-content-center mb-2 me-2">Edit</a>
			<!-- * DELETE - (ULTIMO) STEP 3 - creare il form per l'eliminazione -->
			<form sec:authorize="hasAnyAuthority('ADMIN')" th:action="@{/pizzas/delete/{id}(id=*{id})}" method="POST" class="d-inline mb-2" onsubmit="return confirm('Confirm deletion of this pizza?')">
				<!-- * aggiungere DELETE come value -->
				<button type="submit" value="DELETE" class="btn-nav btn btn-danger fw-custom d-flex align-items-center justify-content-center" title="delete-btn">Delete</button>
				<!-- <button type="submit" value="DELETE" class="btn-nav btn btn-danger fw-custom d-flex align-items-center justify-content-center" title="delete-btn"><i class="fa-solid fa-trash"></i></button> -->
			</form>
		</div>

		<!-- * soluzione 1 per mostrare le immagini-->
		<img alt="" th:src="@{/img/__${pizza.photo}__}" th:alt="${pizza.photo}" class="img-show-page my-2 rounded">
		<!-- * soluzione 2 per mostrare le immagini-->
		<!-- <img th:src="@{/img/{photo}(photo=${pizza.photo})}" th:alt="${pizza.photo}" class="my-2 w-50"> -->
		
		<h5 class="mt-2 mb-3"><span>Description:</span> [[*{description}]]</h5>
		<h4><span>Price:</span> € [[*{formattedPrice}]]</h4>
		<!-- oppure -->
		<!-- <h4><span>Price:</span> € [[${pizza.formattedPrice}]]</h4> -->

		<!-- Offerte speciali -->
		<div th:if="*{specialOffers.size() < 1}" class="my-1">
			<b>No offers available</b>
		</div>
		<ul th:if="*{specialOffers.size() > 0}" class="list-unstyled mt-2">
			<li th:each="specialOffer : *{specialOffers}" th:object="${specialOffer}" class="my-1 d-flex justify-content-between align-items-center"><span class="fw-custom me-1">[[*{title}]]:</span>
				<span class="me-2 text-white">disponibile da 00:00 del [[*{getFormattedStartDate}]] fino a 00:00 del [[*{getFormattedEndDate}]]</span>
					<a sec:authorize="hasAnyAuthority('ADMIN')"  th:href="@{/pizzas/special-offer/update/{id}(id=*{id})}" class="btn-icon btn btn-warning fw-custom text-white def-link d-flex align-items-center justify-content-center me-2"><i class="fa-solid fa-pencil"></i></a>
					<form sec:authorize="hasAnyAuthority('ADMIN')" th:action="@{/pizzas/special-offer/delete/{id}(id=*{id})}" method="POST" class="d-inline m-0" onsubmit="return confirm('Confirm deletion of this offer?')">
						<!-- * aggiungere DELETE come value -->
						<!-- <button type="submit" value="DELETE" class="btn-nav btn btn-danger fw-custom d-flex align-items-center justify-content-center ms-2" title="Delete offer">Delete Offer</button> -->
						<button type="submit" value="DELETE" class="btn-icon btn btn-danger fw-custom d-flex align-items-center justify-content-center " title="Delete offer"><i class="fa-solid fa-trash"></i></button>
					</form>
			</li>
		</ul>

		<!-- Ingredienti -->
		<h3 th:if="*{ingredients.size() > 0}"><span>Ingredients</span></h3>
		<ul th:if="*{ingredients.size() > 0}" class="list-unstyled mt-2">
			<li th:each="ingredient : *{ingredients}" th:object="${ingredient}" class="my-1 d-flex justify-content-between align-items-center">
				<span class="text-white fw-custom me-2">[[*{nameWithInitialCapital}]]</span>
			</li>
		</ul>

	</main>
	
	<!-- link di tutte le pagine -->
	<!-- soluzione 1 -->
	<!-- <th:block th:replace="~{templates/frags/links :: links"></th:block> -->
	<!-- soluzione 2 -->
	<!-- <th:block th:replace="~{~{templates/frags/links :: links}"></th:block> -->
	<!-- soluzione 3 -->
	<th:block th:replace="~{frags/links :: links}"></th:block>

	<!-- footer -->
	<th:block th:replace="~{/frags/footer :: footer}"></th:block>

</body>

</html>